<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <div id='app'>
        <page-content headline='Django Polls App'>
            {% if latest_question_list %}
                    <ul>
                    {% for question in latest_question_list %}
                        <question url="{% url 'polls:detail' question.id %}" text="{{ question.question_text }}"></question>
                    {% endfor %}
                    </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </page-content>
    </div>
    <!-- link vue -->
    <script src="https://unpkg.com/vue"></script>
    <!-- link our javascript with Vue components -->
    <script type="text/javascript" src="{% static 'polls/polls.js' %}"></script>
</body>
</html>